.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0;
  width: 500px;
  margin: 0 auto;
}

.card img {
  border-radius: 8px 8px 0 0;
  width: 500px;
  height: 500px;
}

.btn {
  background-color: red;
}
